<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <h1>All Dojos</h1>
    <a href="/">Home</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for d in dojos %}
        <tr>
            <td>{{d.id}}</td>
            <td><a href="/dojo/{{d.id}}">{{d.name}}</a></td>
        </tr>
        {% endfor %}
    </table>
    <h1>New Dojo</h1>
    <form method="POST" action="/newdojo">
        <input type="text" name="name" placeholder="Enter Dojo Name">
        <input type="submit" value="Create Dojo">
    </form>
    <a href="/newninja">Add Ninja</a>
</body>
</html>