<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        h1 {
            text-align: center;
            font-family: sans-serif;
        }

        .threeBlue {
            text-align: center;
        }

        #oneBlue {
            background-color: skyblue;
            justify-content: center;
            height: 200px;
            width: 200px;
            margin: 20px;
            display: inline-block;
            border-radius: 10px;
            border: 2px solid;
        }

    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="threeBlue">
        <div id="oneBlue"></div>
        <div id="oneBlue"></div>
        <div id="oneBlue"></div>
    </div>
</body>
</html>
